configuration {
    modi: "window,drun,run";

    font: "JetBrainsMono Nerd Font 12";
    show-icons: true;
    icon-theme: "Papirus";

    terminal: "alacritty";

    drun-display-format: "{icon}  {name}";

    sidebar-mode: false;
    case-sensitive: false;
    cycle: true;

    matching: "fuzzy";
    normalize-match: true;
}
@theme "~/.config/rofi/bocchi_dark-theme.rasi"
